-always-comb
-explicit-parameter-storage-type
+forbid-negative-array-dim
+line-length=length:120
+mismatched-labels
+numeric-format-string-style
+one-module-per-file
+parameter-name-style=localparam_style:ALL_CAPS;parameter_style:ALL_CAPS
+parameter-type-name-style
+signal-name-style
+suspicious-semicolon
-unpacked-dimensions-range-ordering
